@model Munin.web.Models.Bibliotek
@{
    ViewBag.Title = "Registrer";
}

<h2>Opret</h2>

<div ng-controller="biblioteksCtrl as ctrl" ng-init="initpage()">
    @Html.Partial("_form")
</div>


<div>
    @Html.ActionLink("Tilbage til liste", "Index")
</div>
