@model Munin.web.Models.Billeder

@{
    ViewBag.Title = "Registrer";
}

<h2>Opret</h2>

<div ng-controller="billedeCreateCtrl as ctrl" ng-init="initpage()">
    @Html.Partial("form")
</div>


<div>
    @Html.ActionLink("Tilbage til liste", "Index")
</div>
