@model Munin.web.Models.Billeder

@{
    ViewBag.Title = "Registrer";
}

<h2>Create</h2>

<div ng-controller="billedeCreateCtrl">
    @Html.Partial("form")
</div>


<div>
    @Html.ActionLink("Tilbage til liste", "Index")
</div>
