@model Munin.web.Models.Billeder

@{
    ViewBag.Title = "Rediger";
}

<h2>Opret</h2>

<div ng-controller="billedeCreateCtrl as ctrl" ng-init="initpage()">
    @Html.Hidden("ID", Model.BilledID, new {@id = "ID"})
    @Html.Partial("form")
</div>


<div>
    @Html.ActionLink("Tilbage til liste", "Index")
</div>
