@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color: #b9dfc5">
    <img src="~/Images/RavenIcon.png" />
    <h1>Munin</h1>
    <p class="lead"><i>Munin betyder han som mindes. Fuglene er altså dem, der tænker mere over tingene og husker længere end almindeligt.</i>
    </p>
    <p><a href="https://da.wikipedia.org/wiki/Hugin_og_Munin" class="btn btn-primary btn-lg">Læs mere &raquo;</a>
    </p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Velkommen</h2>
        <p>
            Munin er et lille system til registrering, søgning og administration af materiale modtaget af Stenløse Lokalhistoriske Arkiv.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
</div>